<!DOCTYPE html>
<html>
  <head>
    <title>666</title>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.2/jquery.fullPage.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Overpass:100" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="fullpage">
      <div class="section" id='first'>
        <div class='touchless'>
          <h1>dain chatel</h1>
          <h2>full stack developer</h2>
          <p>touchless // wave hand up to scroll</p>
        </div>
      </div>
      <div class='section' id='second'>
        <div class='slide'>
          <div class='projects'>
            <h2>projects</h2>
            <p>I'm interested in lighthearted, lightweight, responsive design</p>
          </div>
        </div>
        <div class='slide'>
          <div class='projects'>
            <h2>here</h2>
          </div>
        </div>
        <div class='slide'>
          <div class='projects'>
            <h2>c+me</h2>
          </div>
        </div>
        <div class='slide'>
          <div class='projects'>
            <h2>skycast</h2>
          </div>
        </div>
        <div class='slide'>
          <div class='projects'>
            <h2>alien doctor</h2>
          </div>
        </div>
      </div>
      <div class="section" id='third'>
        <div class='touchless'>three</div>
      </div>
      <div class="section" id='fourth'>
        <div class='touchless'>four</div>
      </div>
    </div>
    <script
  src="http://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.2/jquery.fullPage.js'></script>
    <script type="text/javascript" src="/javascripts/gest.js"></script>
    <script src='/javascripts/fullPageLoader.js'></script>

  </body>
</html>
