@keyframes bounce {
  0% {
  transform:translateY(0%);
  }
  20% {
    transform:translateY(3%);
  }
  40% {
    transform:translateY(0%);
  }
  60% {
    transform:translateY(-2%);
  }
  80% {
    transform:translateY(1%);
  }
  100% {
    transform:translateY(0%);
  }
}

.fp-tableCell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Overpass';
  font-size: 3rem;
  text-align: center; }

#first {
  background-color: rgb(229,75,75);
  color: white; }

.head-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
   }

#last-name {
  margin-top: -2.9rem;
}

.touchless {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto; }
  .touchless h1 {
    padding-bottom: 0;
    font-weight: 300;
    margin: -1rem 1rem -.2rem 1rem;
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: -1.5vw; }
  .touchless .mob-scroll-dir {
    margin-top: 10rem;
    margin-bottom: -3rem;
    font-size: 5rem;
    text-transform: lowercase;
    font-weight: 100;
    opacity: .6;
    animation: bounce 1s infinite; }
  .touchless .scroll-dir {
    display: none;
  }
  .touchless h2 {
    margin-top: -1rem;
    font-size: 1.5rem;
    text-transform: lowercase;
    font-weight: 300; }

#second {
  background-color: rgb(18,23,56);
  color: rgb(255,107,104);;
  text-align: center; }
  #second h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin: -80px auto 20px auto;
    font-size: 3.5rem; }
  #second p {
    font-size: 1.3rem;
    text-transform: lowercase;
    margin-top: -.9rem;
    width: 65vw; }
  #second a {
    color: rgb(255,107,104);
  }
  #second .alien-p {
    margin-top: 1.5rem; }

.alien-icon {
  height: 10rem;
  width: 10rem;
  border-radius: 100%;
  background-color: rgb(255,107,104);; }

.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

#business-icon, #chat-icon, #location_on-icon, #camera-icon, #color-icon {
  font-size: 15rem;
  margin-top: -40px;
  color: rgb(255,107,104);
}

#third {
  background-color: #0b5ce8;
  color: transparent;
 }
  #third h2 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 1vh;
    font-size: 3rem;
    letter-spacing: 0;
    color: #ffcc4c;
    margin-bottom: -1vh; }
  #third p {
    font-size: 1.5rem;
    font-weight: 100;
    color: #ffcc4c;
    margin: 0 auto; }
  #third a {
    color: transparent;
    -webkit-text-stroke: 1px #ffcc4c;
    font-size: 3rem; }



.inset {
  position: absolute;
  background-color: #19aaff;
  opacity: .3;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 0;
  height: 0;
  z-index: -.5; }



#fourth {
  background-color: white;
  color: transparent; }
  #fourth h2 {
    font-weight: 500;
    font-size: 6rem;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 0;
    margin-top: -.65em;
    margin-bottom: -.65em;
    -webkit-text-stroke: 4px #e54b4b;
    opacity: .2; }
  #fourth .bonus-holder {
    padding-top: 7vh;
  }
  #fourth p {
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: -11em;
    color: black; }
  #fourth .about-els {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 65%;
    height: 15vh;
    margin-top: -5vh; }

.about-holder {
  display: flex;
  flex-direction: column;
  align-items: center; }

.git-link {
  height: 1.25rem;
  margin-bottom: 3rem;
  margin-top: -2rem; }

.contact-p {
  font-size: 1.5rem;
  margin: 0 auto; }

.contact-div {
  display: flex;
  justify-content: center; }
  .contact-div .git-link {
    margin: 0 2vw;
  }

.contact-head {
  margin-bottom: 0; }

.project-name {
  padding-top: 90px;
}

.big-names {
  line-height: 3rem;
  padding-top: 110px;
  margin-bottom: 0;
}

#horror-icon {
  margin-bottom: -50px;
}

.contact {
  width: 76vw;
  height: 53vh;
  background-color: #0f73ef;
  text-align: center;
  display: flex;
  flex-direction: column;
}



/*# sourceMappingURL=style.css.map */
