@keyframes bounce {
  0% {
    transform: translateY(0%); }
  20% {
    transform: translateY(3%); }
  40% {
    transform: translateY(0%); }
  60% {
    transform: translateY(-2%); }
  80% {
    transform: translateY(1%); }
  100% {
    transform: translateY(0%); } }

.fp-tableCell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Overpass';
  font-size: 3rem;
  text-align: center; }

#first {
  background-color: #e54b4b;
  color: white; }

.head-holder {
  display: flex;
  flex-direction: row; }

.touchless {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative; }
  .touchless h1 {
    margin: 3rem 1rem -.5rem 1rem;
    text-transform: uppercase;
    font-size: 9rem;
    letter-spacing: -1.2vw;
    font-weight: 600;
    color: white; }
  .touchless .scroll-dir {
    font-size: 3rem;
    margin-bottom: 0;
    animation: bounce 1s infinite; }
  .touchless .mob-scroll-dir {
    display: none; }
  .touchless #gesture-nav-icon {
    font-size: 7rem;
    cursor: default; }
  .touchless .gest-explainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 65vh;
    width: 70vw;
    opacity: 0;
    top: 40px;
    background-color: white;
    border-radius: 15px;
    -webkit-transition: opacity 0.6s;
    /* Safari */
    transition: opacity 0.6s;
    -webkit-box-shadow: 1px 1px 30px 5px rgba(60, 60, 60, 0.2);
    -moz-box-shadow: 1px 1px 30px 5px rgba(60, 60, 60, 0.2);
    box-shadow: 1px 1px 30px 5px rgba(60, 60, 60, 0.2); }
    .touchless .gest-explainer h3 {
      color: rgba(60, 60, 60, 0.5);
      margin: -35px 0 5px 0; }
    .touchless .gest-explainer p {
      width: 56vw;
      font-size: 1.25rem;
      color: rgba(60, 60, 60, 0.5);
      margin: 7px 0; }
  .touchless h2 {
    margin-top: -2rem;
    margin-bottom: 8rem;
    font-size: 2rem;
    text-transform: lowercase;
    font-weight: 100; }

@media only screen and (max-width: 920px) {
  .touchless h1 {
    font-size: 7rem; }
  .touchless .gest-explainer {
    height: 56vh;
    padding-top: 30px; } }

#second {
  background-color: #121738;
  color: #ff6b68;
  text-align: center; }
  #second h2 {
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 auto; }
  #second p {
    font-size: 2rem;
    font-weight: 100;
    text-transform: lowercase;
    margin-top: -.9rem;
    width: 70vw; }
  #second .alien-p {
    margin-top: 1.5rem; }
  #second a {
    color: #ff6b68; }

.alien-icon {
  height: 12rem;
  width: 12rem;
  border-radius: 100%;
  background: radial-gradient(circle at 50% 120%, #ff6b68, #ff6b68 10%, #055194 80%, #121738 100%);
  margin-top: 1.5rem; }

.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

#business-icon, #queue-icon, #chat-icon, #location_on-icon, #camera-icon, #color-icon {
  background: radial-gradient(circle at 50% 120%, #ff6b68, #ff6b68 10%, #055194 80%, #121738 100%);
  font-size: 15rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#third {
  background-color: #0b5ce8;
  color: transparent;
  position: relative; }
  #third h2 {
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 3vh;
    letter-spacing: 0;
    color: #ffcc4c;
    margin-bottom: -1vh; }
  #third p {
    font-size: 2rem;
    font-weight: 100;
    color: #ffcc4c;
    margin: 0 auto; }
  #third a {
    color: transparent;
    -webkit-text-stroke: 1px #ffcc4c;
    font-size: 3.5rem; }
  #third img {
    width: 54vw;
    height: 75vh;
    opacity: .1; }

.inset {
  background-color: #19aaff;
  position: absolute;
  opacity: .3;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 54vw;
  height: 75vh;
  z-index: -.5; }

#fourth {
  background-color: white;
  color: transparent; }
  #fourth h2 {
    font-weight: 500;
    margin-top: -15vh;
    font-size: 18rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: -8vh;
    margin-left: -.5vw;
    margin-right: -.5vw;
    padding-bottom: 0;
    -webkit-text-stroke: 1px #e54b4b; }
  #fourth .bonus-holder {
    display: flex;
    flex-direction: row; }
  #fourth p {
    font-size: 1.5rem;
    font-weight: 100;
    color: black; }
  #fourth .about-els {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 65%;
    height: 15vh;
    margin-top: -5vh; }

.about-holder {
  display: flex;
  flex-direction: column;
  align-items: center; }

#fifth {
  background-color: white;
  color: #e54b4b; }
  #fifth h2 {
    font-weight: 900;
    margin-top: -10vh;
    text-transform: uppercase; }
  #fifth p {
    font-size: 2rem;
    font-weight: 100;
    text-align: center; }
  #fifth img {
    width: 200px;
    height: 200px;
    border-radius: 50%; }

.pic-holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75vw; }

.pic-p {
  width: 50vw;
  padding-left: 5vw; }

.git-link {
  height: 1.25rem;
  margin-bottom: 3rem;
  margin-top: -2rem; }

.contact {
  position: absolute; }

/*# sourceMappingURL=style.css.map */